<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"  type="text/css" th:href="@{css/Studentpersonal.css}" />
    <link rel="stylesheet"  type="text/css" th:href="@{css/head.css}" />
    <link rel="stylesheet"  type="text/css" th:href="@{css/bootstrap.min.css}" />
    <script th:src="@{js/jquery-3.6.4.min.js}" ></script>
    <script th:src="@{js/bootstrap.min.js} "></script>
    <meta charset="UTF-8">
    <title>学生个人中心</title>

</head>
<body>
<div   th:insert="~{/commom/head}"></div>
<div class="container">
    <div class="grid-container">
        <div id="container1">
            <img id="id1" src="/images/a1.png" alt=""  >
            <div class="list-group">
                <div class="list-group-item">
                    <a href="">个人中心</a>
                </div>
                <div class="list-group-item">
                    <a href="">课程管理</a>
                </div>
            </div>
        </div>
        <div id="div1">
            名称：<input type="text" />
            年龄：<input type="text"/><br>
            密码：<input type="text"  />
            邮箱：<input type="text"/><br>
            学校：<input type="text"  />
            电话：<input type="text"/><br>
            性别：<input  type="radio" name="sex" value="male" />男
            <input  type="radio" name="sex" value="female">女
        </div>
        <div id="div2">
            <input  type="submit" value="修改"/>
        </div>
    </div>
</div>



</body>
</html>