<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script th:src="@{js/echarts.min.js}"></script>
    <link rel="stylesheet"  type="text/css" th:href="@{css/index.css}" />
    <link rel="stylesheet"  type="text/css" th:href="@{css/bootstrap.min.css}" />
    <script th:src="@{js/jquery-3.6.4.min.js}" ></script>
    <script th:src="@{js/bootstrap.min.js} "></script>

    <title>老师端</title>
</head>
<body >
<div class="container">
    <div   th:insert="~{/commom/head}"></div>
    <div class="body1">
        <div class="body2">
            <div id="menu" style="margin-top: 20px">
                <ul>

                    <li>

                        <a    href="#">前端 	</a>
                        <ul>
                            <li><a href="#">HTML5</a></li>
                            <li><a href="#">CSS</a></li>
                            <li><a href="#">Javascript</a></li>
                            <li><a href="#">Ajax</a></li>
                            <li><a href="#">jQuery</a></li>
                        </ul>
                    </li>
                    <li><a href="#">后台</a>
                        <ul>
                            <li><a href="#">Java</a></li>
                            <li><a href="#">C++</a></li>
                            <li><a href="#">PHP</a></li>
                            <li><a href="#">Python</a></li>
                            <li><a href="#">C#</a></li>
                        </ul>
                    </li>
                    <li><a href="#">移动应用</a>
                        <ul>
                            <li><a href="#">Android</a></li>
                            <li><a href="#">IOS</a></li>
                        </ul>
                    </li>
                    <li><a href="#">数据库</a>
                        <ul>
                            <li><a href="#">Oracle</a></li>
                            <li><a href="#">MySql</a></li>
                            <li><a href="#">SqlServer</a></li>
                            <li><a href="#">MongoDB</a></li>
                            <li><a href="#">DB2</a></li>
                        </ul>
                    </li>
                    <li><a href="#">操作系统</a>
                        <ul>
                            <li><a href="#">Linux</a></li>
                            <li><a href="#">Unix</a></li>
                            <li><a href="#">Mac</a></li>
                            <li><a href="#">Windows</a></li>
                        </ul>
                    </li>
                    <li><a href="#">服务器</a>
                        <ul>
                            <li><a href="#">Tomcat</a></li>
                            <li><a href="#">WebSphere</a></li>
                            <li><a href="#">WebLogicc</a></li>
                        </ul>
                    </li>
                </ul>
            </div>




        </div>
        <div id="myCarousel" class="body3 carousel slide">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner " >
                <div class="item active">
                    <img  style="width:1000px;height: 300px" src="/images/img_1.png" alt="First slide">

                </div>
                <div class="item">
                    <img style="width:1000px;height: 300px" src="/images/img.png" alt="Second slide">

                </div>
                <div class="item">
                    <img  style="width: 1000px;height: 300px" src="/images/a1.png" alt="Third slide">

                </div>
            </div>
            <!-- 轮播（Carousel）导航 -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


    </div>
<!--    //图表-->
    <div id="main" style="width: 500px;height: 500px; margin-top: 10px ;margin-left: 20px"></div>
</div>

</body>
</html>

<script>


  var chartDom = document.getElementById('main');
  var myChart = echarts.init(chartDom);


  var option={
      title:{

          text:"学生热点分布图"

      },
      xAxis:{
          data:["1月","2月","3月","4月","5月","6月"]
      },
      yAxis:{},
      tooltip:{//数据提示
          trigger:"axis"
      },
      legend:{
          data:["1队","2队"]
      },
      series:[
          {
              name:"2队",
              type:"line",
              data:[100,600,900,500,200,90]
          },
          {
              name:"1队",
              type:"bar",
              data:[800,100,500,800,700,90]
          }

      ]
  }

  myChart.setOption(option);
</script>